@import 'styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $screen-width-sm;
}

.icon {
  margin-bottom: $spacing;
  background-color: $primary-main-color;
}

.form {
  margin-top: $spacing;
  width: 100%;
}

.submitButton {
  margin-top: 3 * $spacing;
  margin-bottom: 2 * $spacing;
}
