@import 'styles/variables';
@import 'styles/mixins';

.drawer {
  :global .MuiDrawer-paper {
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
    width: $drawer-expanded-width;
    transition: $drawer-show-transition;

    @include screen('<md') {
      width: $drawer-collapsed-width;
      transition: $drawer-hide-transition;
    }
  }
}
