@import 'styles/variables';
@import 'styles/mixins';

@mixin drawerCollapsed {
  :global .MuiDrawer-paper {
    width: $drawer-collapsed-width;
    transition: $drawer-hide-transition;
  }
}

.drawer {
  :global .MuiDrawer-paper {
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
    width: $drawer-expanded-width;
    transition: $drawer-show-transition;
  }

  &.collapsed {
    @include drawerCollapsed();
  }

  @include screen('<sm') {
    @include drawerCollapsed();
  }
}
